.BANNERborder{
	height:175px;
	margin-bottom:2px;
	width:89.6%;
	}
	#first{
		margin-left:45%;
		background-color:white;
		height:12px;
		padding-top:0px;
		
		padding-bottom:7px;
		z-index:10;
		
		width:35%;
		border:2px solid #000000;
		border-radius:10px;
		position:static;
	}
	#navbar ul{
	list-style:none;
	}
	#navbar li{ color:black; display:inline;}
	#navbar li:hover{ background-color:#efefef;}
	#navbar{
	background-color:white;

	border:1px solid yellow;
	}
	
	
	#container{
		background-color:#00ff00;;
		width:89.6%;
		margin-bottom:2px;
		height:320px;
		margin-top:10px;
		border:2px solid #000000;
		border-radius:10px;

	}