
#titleshw{background-color:#efefef;
width:90%;
height:223px;
background-repeat:no-repeat;
background-position:50% 50%;
}

#main{
font-size:45px;
margin-left:57px;
letter-spacing:13px;
color:#0000ff;
	
}	


#navbar ul{
	list-style:none;
	color:#00ff00;
	}
	#navbar li{ 
	font-size:24px;
	display:inline;
	}
	#navbar li:hover{ background-color:#000000;}
	
	
	a{
	text-align:left;

	text-decoration:none;
	}
	a:hover{
	background-color:#00ff00;
	text-decoration:underline;
	}
	
	#categoryIn{
		background-color:white;
		width:93%;
		
		height:1000px;
		margin-top:10px;
		float:left;
		padding-top:5px;
	overflow:scroll;
		border-radius:10px;
		padding-bottom:37px;
	}

#categoryCol{
	
		width:26%;
		margin-left:32px;
		height:950px;
		margin-top:20px;
		float:left;
		padding-top:30px;
	
		border-radius:10px;
		padding-bottom:2px;
	}
	
	
	#item 1{
	float:left;
	
	
	}