#salesrightbar{
		
        margin-left:5px;
		margin-top:10px;
		float:left;
		width:28.5%;
		color:white;
		height:699px;
		border-radius:10px;
		background-color:#efefef;
		padding:4px;
		
	}
    .product{
	margin-top:32px;
	
	}
	.product2{
	margin-top:12px;
	}
	.productcontainer{

	height:24%;
	width:80%;
	margin-left:7%;
	margin-top:7%;
	padding-top:2px;
	background-color:white;
	
	}
	.price{color:#00ff00;}
	.oldprice{color:#ff0000;}
	#productalign{
	display:inline;
	text-align:left;
	}
	.productdetails{
	font-size:13px;
	text-align:left;
	color:black;
	}
	
	.prdinfo{
	font-size:12px;
	text-decoration:none;
	}
	.prdinfo:hover{
	color:black;
	background-color:#00ff00;
	text-decoration:underline;
	}
	
	#buy{
	background-color:white;
	}
	#buy:hover{
	background-color:silver;
	}
	
	#latest{
	color:black;
	}